#left-half{
	background: url(halie-west-25xggax4bSA-unsplash.jpg);
	background-repeat: no-repeat;
	width: 40%;
	position: absolute;
	left: 0px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#right-half {
	width: 60%;
	position: absolute;
	right: 0px;
	height: 100%;
}
#odin-logo{
	left: 10em;
}
#btn-submit{
	color:white;
	background-color: #596D48;
}

input{
	border-radius: 0.2em;
	border-color: #E5E7EB;
}
p{
	font-family: 'Times New Roman', Times, serif;
	font-weight: 1000;
}
