#dashboard {
  grid-area: dashboard;
  background-color: rgba(25,146,212,255) !important;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
#header {
  grid-area: header;
}
#menu {
  grid-area: menu;
}

#dashboard-icon{
  padding: .5em 0 .25em .5em;
  text-align: start;
  font-weight: 600;
  img{
    transform: scale(2);
  }
}
#list-icon{
  text-align: start;
  font-weight: 500;
  font-size: smaller;
  img{
    transform: scale(1.2);
  }
}

#container {
  display: grid;
  position: fixed;
  grid-template-areas:
    "dashboard header header header header header header header header header"
    "dashboard menu menu menu menu menu menu menu menu menu"
    "dashboard menu menu menu menu menu menu menu menu menu"
    "dashboard menu menu menu menu menu menu menu menu menu"
    "dashboard menu menu menu menu menu menu menu menu menu";
  gap: 10px;
  background-color: #2196f3;
  width: auto;
  border: 10px black double;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

li, ul{
  list-style-type: none;
  padding: 0 0 .5em 0.5em;
  margin: 0;
  text-align: start;
}

a{
  color: white;
  text-decoration: none;
}

.icon{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(181deg) brightness(106%) contrast(101%);
  padding: 0 .75em;
}

/*
    Otra posible solucion es    
    #dashboard{
    grid-column: 1/2;
    grid-row: 1/6;
    }
    #header{
    grid-column: 2/8;
    grid-row: 1/2;
    }
    #menu{
    grid-column: 2/8;
    grid-row: 2/6;
    }
*/
